 <!DOCTYPE html>
 <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        {% block extrastyles %} {% endblock %}

        <!-- Icon -->
        <link rel="icon" type="image/x-icon" href="../static/assets/aigri-logo.png">
    </head>

    <body>
        <header class="main-header">
            <div class="container nav-container">
                <a href="/" class="logo">
                    <img src="../static/assets/aigri-logo.png" alt="AiGRI Logo">
                    <div class="brand-text">
                        <span class="brand-name">AiGRI</span>
                        <span class="tagline">Assess, Insure, Guarantee, Respond, Include</span>
                    </div>
                </a>
                <nav>
                    <ul class="nav-menu">
                        {% block navlist %} {% endblock %}
                    </ul>
                </nav>
            </div>
        </header>    

        {% block main %} {% endblock %}

        <footer>
            <div class="container">
                {% block footer %} {% endblock %}
                <div class="copyright">
                    <p>&copy; Project AiGRI 2025. All rights reserved.</p>
                    <p></p> 
                    <!-- will add line here -->
                </div>
            </div>
        </footer>

    </body>
 </html>